* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: min(100%,950px);
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a3173;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #b4abb2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(312, 6%, 69%), hsl(313, 6%, 69%)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(226, 68%, 50%, 0.24), hsla(316, 9%, 49%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .acerca-de{
    padding: 30px 0 60px 0;
}
.contenedor-acerca-de{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.acerca-de .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #2a3173;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

main .nuestras-caracteristicas{
    background: #f2f2f2;
    padding: 30px 0 60px 0;
}
.contenedor-nuestras-caracteristicas{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.nuestras-caracteristicas .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    margin-top: 40px;
}

.contenido-textos h3 span{
    background: #2a3173;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}



/* Galeria */


.ubicacion{
    background: #f2f2f2;
    position: relative;
}

.ubicacion iframe {
    /* margin: 20px 0 20px 0; */
    padding-left: 400px;
    width: 1000px;
    height: 500px;
}

/* Others */

main .otros{
    padding: 30px 0 60px 0;
}
.contenedor-otros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.otros .contenido-estudios{
    width: 48%;
}

.contenido-estudios h3{
    margin-bottom: 15px;
}

.contenido-estudios h3 span{
    background: #2a3173;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-estudios p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Abogado */

.contenedor-abogado h2{
    color: #2a3173;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.abogado{
    padding: 30px 0 60px 0;
}

.contenedor-titulos{
    display: flex;
    justify-content: space-evenly;
}

.pateando{
    width: 100%;
    height: 100%;
}

.abogado .contenedor-titulos{
    width: 50%;
    height: 50%;
}

.contenido-titulos li{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.contenedor-footer a{
    color: #9e9797;
}

/* Default styles here */

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    /* Styles for smaller screens here */
  }
  
  /* Responsive styles for screens between 768px and 992px */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* Styles for medium-sized screens here */
  }
  
  /* Responsive styles for screens larger than 992px */
  @media screen and (min-width: 992px) {
    /* Styles for larger screens here */
  }