* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: 16px;
}

.contenedor {
    padding: 3.75em 0;
    width: 90%;
    max-width: 62.5em;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #2a3173;
    font-size: 1.875em;
    text-align: center;
    margin-bottom: 3.75em;
}

/* Header */

header {
    width: 100%;
    height: 37.5em;
    background: #b4abb2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(312, 6%, 69%), hsl(313, 6%, 69%)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(226, 68%, 50%, 0.24), hsla(316, 9%, 49%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 1.875em 3.125em 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 0.625em;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 26.875em;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 3.125em;
    color:#fff;
}

.textos-header h2{
    font-size: 1.875em;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 1.875em 0 3.75em 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 0.9375em;
}

.contenido-textos h3 span{
    background: #2a3173;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 1.875em;
    height: 1.875em;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 1.875em 0.9375em;
    font-weight: 300;
    text-align: justify;
}

main .nuestras-caracteristicas{
    background: #f2f2f2;
    padding: 1.875em 0 3.75em 0;
}
.contenedor-nuestras-caracteristicas{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.nuestras-caracteristicas .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 0.9375em;
    margin-top: 40px;
}

.contenido-textos h3 span{
    background: #2a3173;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}



/* Galeria */


.ubicacion{
    background: #f2f2f2;
    position: relative;
}

.ubicacion iframe {
    /* margin: 20px 0 20px 0; */
    padding-left: 400px;
    width: 1000px;
    height: 500px;
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #2a3173;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.contenedor-footer a{
    color: #9e9797;
}

/* Default styles here */

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
    /* Styles for smaller screens here */
  }
  
  /* Responsive styles for screens between 768px and 992px */
  @media screen and (min-width: 768px) and (max-width: 992px) {
    /* Styles for medium-sized screens here */
  }
  
  /* Responsive styles for screens larger than 992px */
  @media screen and (min-width: 992px) {
    /* Styles for larger screens here */
  }
  